<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<% if @answer == 'I am going to work' %>
<p><%= @answer %></p>
<p>~ You</p><br>
<p>Great!</p>
<p>~ Your coach</p>

<% elsif @answer.include?('?') %>
<p><%= @answer %></p>
<p>~ You</p><br>
<p>Silly question, get dressed and go to work!</p>
<p>~ Your coach</p>

<% else %>
<p><%= @answer %></p>
<p>~ You</p><br>
<p>I don't care, get dressed and go to work!</p>
<p>~ Your coach</p>
<% end %>

<%= link_to "Ask a new question", ask_path %>
